[v-cloak] {display: none}

.container {
    background-color: aliceblue;
    padding: 2rem;
}

.ball {
    width: 60vw;
    height: 60vw;
    background-color: black;
    border-radius: 100%;
    margin: 3rem auto;
    display: grid;
    justify-content: center;
    align-items: center;
}

.bit {
    width: 40vw;
    height: 40vw;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eightBit {
    background-color: white;
}

.eightBit p {
    font-size: 8rem;
}

.centerBit {
    background-color: white;
    background-image: radial-gradient(#102542, #1d1d1d);
    color: white !important;
}

.btn-submit {
    background-color: #102542 !important;
    color: white !important;
}

p {
    text-align: center;
    font-weight: bold;
    margin: auto !important;
    font-size: 2rem;
}


/* MEDIA QUERIES */
/* Small devices (landscape phones, 665px and up) */
@media (min-width: 665px) { 
    .ball {
        width: 55vw;
        height: 55vw;
    }

    .bit {
        width: 35vw;
        height: 35vw;
    }

    .eightBit p {
        font-size: 7rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  
    .ball {
        width: 45vw;
        height: 45vw;
        margin: 2.5rem auto;
    }

    .bit {
        width: 30vw;
        height: 30vw;
    }

    .eightBit p {
        font-size: 8rem;
    }

    .answerBit {
        font-size: 2.5rem;
    }

    .userForm {
        width: 70vw;
        margin: 0 auto;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  
    .ball {
        width: 35vw;
        height: 35vw;
        margin: 1.5rem auto;
    }

    .bit {
        width: 21vw;
        height: 21vw;
    }

    .eightBit p {
        font-size: 9rem;
    }

    .userForm {
        width: 50vw;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {  } */